/* SpeedTypingGame.css */

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Mono', monospace;
    background-color: #e7e9e9;
}

.container {
    max-width: 650px;
    margin: 5px;
    width: calc(100% - 10px);
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

input.input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

#paragraph{
    word-break: break-all;
    text-align: left;
}
.section{
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
}

.setting{
    display: flex;
    justify-content: space-between;
}

.mode{
    display: flex;
    gap: 10px;
}

.stopwatch{
    display: flex;
    gap: 10px;
}

.stopwatch>p{
    float: right;
}

.click{
    cursor: pointer;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */

}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #1879ba; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

.section1{
    border-bottom: 1px solid #ced4da;
}
span{
    font-size: 20px;
    user-select: none;
    cursor: text;
}
span.wrong{
    color: darkred;
    background-color: pink;
}

span.correct{
    color: #0e630e;
    background: #e7fbd3;
}

span.active{
    border-bottom: 3px solid #0a6bf9;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.section2 ul{
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: calc(100% - 120px);
}

.section2 ul li{
    list-style-type: none;
    margin: 0 10px;
}

.section2 ul li p{
    margin: 5px;
    font-size: 12px;
}

.section2 ul li span{
    font-size: 18px;
}

button.btn {
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ced4da;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #1d9bf0;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s;
}

button.btn:hover{
    background-color: #1879ba;
}

.colorBlue{
    color: #1879ba;
    font-weight: bold;
}

